.row > *:nth-child(n+2) {
    padding-left: 10px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}

.table-container {
    height: 600px;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}