:root {
    --theme-color: hsl(0, 0%, 73%, 0.5);
}

body * {
    font-size: 12px;
    font-family: monospace;
}

h3 {
    /* color: hsla(from var(--theme-color) h s calc(l-0.2) a); */
    color: var(--theme-color);
    filter: brightness(0.3);
}