:root {
    --theme-color: rgba(185, 185, 185, 0.5);
}

body * {
    font-size: 12px;
    font-family: monospace;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 10px;
}
.col {
    padding-left: 10px;
    padding-right: 10px;
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--theme-color);
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    border: none;
    border-radius: 20px;
    position: fixed;
    animation: fadeInModal 0.5s forwards;
    backdrop-filter: blur(8px);
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal::backdrop {
    background: var(--theme-color);
    backdrop-filter: blur(11px);
}

input {
    border: none;
    border-radius: 2px;
}

input[type="checkbox"] {
    transform: scale(2);
}

h3 {
    color: hsl(from var(--theme-color) h s calc(l - 0.5));;
}

.button {
    text-align: center;
    border-radius: 3px;
    background-color: hsl(from var(--theme-color) h s calc(l - 0.5));
    padding: 7px;
}

.left-button {
    float: inline-start;
}

.right-button {
    float: inline-end;
}

.table-container {
    height: 600px;
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wide-button {
    padding: 7px;
    border-radius: 3px;
    margin: 5px;
}